
@{
    <div class="page-wrapper">
        <!-- PAGE CONTENT-->
        <!-- DATA TABLE-->
        <section class="p-t-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title-5 m-b-35">Guías Pendientes</h3>
                        <div class="table-data__tool">
                            <div class="table-data__tool-left">
                                <div class="rs-select2--light rs-select2--md">
                                    <select class="js-select2" name="property">
                                        <option selected="selected">All Properties</option>
                                        <option value="">Option 1</option>
                                        <option value="">Option 2</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                                <div class="rs-select2--light rs-select2--sm">
                                    <select class="js-select2" name="time">
                                        <option selected="selected">Today</option>
                                        <option value="">3 Days</option>
                                        <option value="">1 Week</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                                <button class="au-btn-filter">
                                    <i class="zmdi zmdi-filter-list"></i>filters
                                </button>
                            </div>
                            <div class="table-data__tool-right">
                                <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                    <i class="zmdi zmdi-plus"></i>Agregar a Hoja de Ruta
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive table-responsive-data2">
                            <table class="table table-data2">
                                <thead>
                                    <tr>
                                        <th>
                                        </th>
                                        <th>Fac/Bol</th>
                                        <th>Nombre Titular</th>
                                        <th>Dirección de Entrega</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tr-shadow">
                                        <td>
                                            <label class="au-checkbox">
                                                <input type="checkbox">
                                                <span class="au-checkmark"></span>
                                            </label>
                                        </td>
                                        <td>1234</td>
                                        <td>
                                            <span class="name">Juan Perez</span>
                                        </td>
                                        <td class="desc">Avenida Siempre Viva 123</td>
                                        <td>2018-09-27 02:12</td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END DATA TABLE-->
        <div class="container">
            <br />
            <h3 class="title-5 m-b-35">Hoja de Ruta número ($numero)</h3>
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>
                        <th>Fac/Bol</th>
                        <th>Nombre Titular</th>
                        <th>Dirección de Entrega</th>
                        <th>¿Quitar elemento?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>54654</td>
                        <td>Juan Perez</td>
                        <td>Avenida siempre viva #123</td>
                        <td>
                            <div class="table-data-feature">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>546454</td>
                        <td>Juan Perez</td>
                        <td>Avenida siempre viva #123</td>
                        <td>
                            <div class="table-data-feature">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>465487</td>
                        <td>Juan Perez</td>
                        <td>Avenida siempre viva #123</td>
                        <td>
                            <div class="table-data-feature">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>54687</td>
                        <td>Juan Perez</td>
                        <td>Avenida siempre viva #123</td>
                        <td>
                            <div class="table-data-feature">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>545646</td>
                        <td>Juan Perez</td>
                        <td>Avenida siempre viva #123</td>
                        <td>
                            <div class="table-data-feature">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>875454</td>
                        <td>Juan Perez</td>
                        <td>Avenida siempre viva #123</td>
                        <td>
                            <div class="table-data-feature">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>875446</td>
                        <td>Juan Perez</td>
                        <td>Avenida siempre viva #123</td>
                        <td>
                            <div class="table-data-feature">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>654654</td>
                        <td>Juan Perez</td>
                        <td>Avenida siempre viva #123</td>
                        <td>
                            <div class="table-data-feature">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="selectSm" class=" form-control-label">Seleccione Vehículo</label>
            </div>
            <div class="col-12 col-md-9">
                <select name="selectSm" id="SelectLm" class="form-control-sm form-control">
                    <option value="0">Vehículos</option>
                    <option value="1">Vehículo 1</option>
                    <option value="2">Vehículo 2</option>
                </select>
            </div>
            <div class="col col-md-3">
                <label for="selectSm" class=" form-control-label">Seleccione Chofer</label>
            </div>
            <div class="col-12 col-md-9">
                <select name="selectSm" id="SelectLm" class="form-control-sm form-control">
                    <option value="0">Chofer</option>
                    <option value="1">Chofer 1</option>
                    <option value="2">Chofer 2</option>
                </select>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-success" style="margin: 0 auto;">
                <i class="fa fa-check"></i>&nbsp;Generar Hoja de Ruta
            </button>
        </div>
    </div>
    <!-- END DATA TABLE-->
}



